*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

.main {
    background-color: #f1f3f2;
    height: 105vh;
    width: 100%;
}

.large-text {
    position: absolute;
    font-size : 200px;
    left: 50px;
    top: 120px;
    margin: auto;
    opacity: .6;
    color: white;
    line-height: 300px;
}
.nav{
    display: flex;
    padding: 40px 70px;
    justify-content: space-between;
}

.nav ul{
    list-style-type: none;
    z-index: 2;
}

.nav ul li{
    padding-bottom: 8px;
}

.nav a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 8px;
    color: #7b7b7b;
}

.nav a:hover {
    color: black;
}

.nav .logo{
    font-weight: bolder;
    font-size: 28px;
    justify-content: center;
}

.appStore , .googlePlay {
    border-radius: 50px;
    border: 2px solid rgb(162, 162, 162);
    padding: 10px 25px;
    font-weight: 600;

}

.appStore{
    margin-right: 20px;
}

.appStore i , .googlePlay i{
    margin-right: 5px;
}

.appStore:hover , .googlePlay:hover {
    background-color: black;
    color: #f1f3f2;
    border: 2px solid white;

}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 70px;
    font-weight: 600;
    height: 65vh;
}

h1{
    font-size: 50px;   
    font-weight: 600;
    z-index: 5;
}

.lamp{
    position: absolute;
    top: -100px;
    left: 200px;
    height: 380px;
}

.phone{
    position: absolute;
    height: 500px;
    top: 160px;
    right : 350px;
}

p{
    font-weight: 500;
    margin-top: 10px;
    color: #7b7b7b;
    z-index: 5;
}

.footer{
    padding: 20px 70px;
}